html, body, div, img, ul, li, a
  margin 0
  padding 0
  box-sizing border-box
  font-size 28px
  color #333
  font-family: '微软雅黑', 'tahoma', 'arial', 'simsun', sans-serif;
ul
  list-style none
a
  text-decoration none